<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/main.css"/>
</head>
<body>

    <h1 id="title"><%= locals.title %></h1>
    <a href="http://hym2ndev.kro.kr:3000/strangetranslate">유용한 번역기</a><br/>

    <a href="http://hym2ndev.kro.kr:3000/movie">인기영화 리뷰</a><br/>
    
    <a href="http://hym2ndev.kro.kr:3000/todolist">투두리스트</a><br/>
    
</body>
</html>